<div class="search-input-container">
  <button mat-button color="primary">
    <mat-icon>A</mat-icon>
  </button>
  <mat-form-field appearance="fill" [formGroup]="form">
    <mat-label></mat-label>
    <input type="search" matInput formControlName="search">
    <div class="validation" *ngIf="searchValidation()">
      <small>No numbers are allowed</small>
    </div>
  </mat-form-field>

  <button mat-button color="primary" (click)="searchHeroes()" [disabled]="searchValidation()">Search</button>
  <button mat-button color="primary" (click)="clearInput()" [disabled]="!this.form.get('search')?.value">
    <mat-icon>delete_sweep</mat-icon>
  </button>
</div>

<div class="hero-container" *ngIf="showHeroes">
  <app-hero-card
    *ngFor="let hero of searchArr"
    [hero]="hero"
  ></app-hero-card>
</div>
